.CartButton{
    height: 100%;
    float: right;
    padding: .5em;
    /* border: 1px dashed red; */
    display: inline-flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    color: white;
    position: relative;
}

.CartButtonIconBox{
    /* background-color: white; */
    /* border: 1px dashed red; */
    width: 36px;
    height: 36px;
    position: relative;
}

.CartButtonIcon{
    /* background-color: white; */
    width: 36px;
    height: 36px;
}

.CartButtonCounter{
    height: 18px;
    width: 18px;
    background-color: #ffa500;
    position: absolute;
    top: -.5em;
    left: -.5em;
    border-radius: 50%;
    font-size: 12px;
    color: black;
    font-weight: bold;
    display: inline-flex;
    align-items: center;
    justify-content: center;
}


.CartButtonSubmenu{
    position: absolute;
    top: 95%;
    right: .5em;
    min-width: 356px;
    background-color: white;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    border-radius: .5em;
    border: 1px solid rgba(0,0,0,0.1);
    overflow: hidden;
    color: black;
    padding: .5em;
    display: none;
    max-height: 450px;
    overflow-y: scroll;
}

.CartButton:hover{
    background-color: rgba(255,255,255,0.1);
}

.CartButton:hover .CartButtonSubmenu{
    display: block;
}


/* width */
.CartButtonSubmenu::-webkit-scrollbar {
    width: .5em;
}

/* Track */
.CartButtonSubmenu::-webkit-scrollbar-track {
    background: #f1f1f1;
}

/* Handle */
.CartButtonSubmenu::-webkit-scrollbar-thumb {
    background: #ffb222;
}

/* Handle on hover */
.CartButtonSubmenu::-webkit-scrollbar-thumb:hover {
    background: #ffa500;
}


@media screen and (max-width: 576px) {
    .CartButton:hover .CartButtonSubmenu{
        display: none;
    }
}
